<div class="player-card" [class.current]="isCurrentPlayer">
  <div class="player-info">
    <span class="avatar">{{ player.avatar }}</span>
    <div class="details">
      <h3>{{ player.name }}</h3>
      @if (shouldShowAdvantage()) {
        <span class="advantage">+{{ materialAdvantage.advantage }}</span>
      }
    </div>
  </div>
  
  <div class="captured">
    @if (capturedPieces.length !== 0) {
      @for (pieceGroup of getCapturedPiecesByType() | keyvalue; track pieceGroup.key) {
        <div class="piece-group">
          @for (piece of pieceGroup.value; track piece) {
            <img [src]="getPieceImage(piece)" [alt]="piece.type" class="piece-img">
          }
        </div>
      }
    }
  </div>
</div>