<div class="game-page">
  <!-- Info giocatori -->
  @if (players$ | async; as players) {
    

    <!-- Giocatore Nero (in alto) -->
    <app-player-info 
      [player]="players.black" 
      [isCurrentPlayer]="(currentPlayer$ | async) === 'black'"
    ></app-player-info>
  
    <!-- Scacchiera -->
    <div class="board-container">
      <app-chess-board></app-chess-board>
    </div>

    <!-- Giocatore Bianco (in basso) -->
    <app-player-info 
      [player]="players.white" 
      [isCurrentPlayer]="(currentPlayer$ | async) === 'white'"
    ></app-player-info>

  }
</div>

<!-- Modal per la promozione dei pedoni -->
<app-promotion-modal></app-promotion-modal>
