:host {
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  margin-top: 0; // Rimuove lo spazio per permettere la sovrapposizione
  min-height: 100vh; // Altezza piena per coprire tutto lo schermo
  width: 100%;
}

router-outlet {
  display: block;
  width: 100%;
  height: 100%;
}
